body {
     background: black;
}

footer {
    display: block;
      width: 100%;
      margin: 0;
     background: #1E3233;
      border-top: 2px solid #4c9da1;
      color: #79fafe;
      position: absolute;
}

#wrapper {
 width: 100%;   
}




footer p {
   
 font-weight: bold;
 text-align: center;
 margin: 10px 0;
    

 
    
    
}
@media screen and (max-width: 895px) {
    
  
     
.subcontentcontainer div {
    
    display: block;
    margin: 10px auto;
    min-width: 200px;
    
    
}
    
.subcontentcontainer {
    width: 350px;
    
}

 .subcontenttransparent div.contentborder {
  
   display: none;
     
 }
    
.subcontenttransparent div {
 
    display: block;
    margin: 25px auto;
    
    
}
    
    
    
}




/* 

=========================
Navigation and header CSS
=========================
*/

header {
      outline: none;
      background: #1E3233;
      border-bottom: 3px solid #4c9da1;
    /*
      box-shadow: 0px 0px 75px 0px white;    */
}

nav {
    
    box-shadow: 0px 15px 25px 0px (black , #909090);
}

.navbar-default {
    
    padding-top: 25px;
    background-color: inherit;
    border: none;
}

.navbar-brand {
    outline: none;
    padding: 0 15px;   
}


.navbar-default .navbar-nav li a {
    font-family: 'calligraffitiregular', cursive;
    font-size: 16pt;
    color: #79fafe;   
    margin-right: 20px;
}

.navbar-default .navbar-nav li a:hover {
    
color: white;    
}

.navbar-default .navbar-nav > li > a:focus {
  color: gold;
  background-color: inherit;
}

.navbar-default .navbar-nav li a:active {
    
    position: relative;
    top: 2px;
    color: #3399FF;    
}

.navbar-brand {
    opacity: 0.9;    
}


.navbar-brand:hover {   
    
opacity: 1;    
}

.navbar-brand:active {
    
    position: relative;
    top: 2px;
}

/*
==================
MAIN CONTAINER CSS 
==================
*/

#maincarousel {
 max-width: 900px;
 min-width: 200px;
 margin: 35px auto 50px auto;
  border-top: 2px #4c9da1 solid;
 border-bottom: 2px #4c9da1 solid;  
    
}

.carousel-caption {
    
    margin-bottom: 15px;   
}


.logo { 
 display: inline-block;   
}


/*
===================

Sub content main page

===================
*/

.subcontentcontainer {
    
 max-width: 900px;
 min-width: 200px;
 margin: 15px auto;
 background: #1E3233;
 border: 1px ridge white;
    
}


.subcontentcontainer h2 {
 font-size: 14pt;    
 color: white;
 text-align: center;   
    
}


.subcontentcontainer p {
 padding: 10px 0;    
 color: white;
    
}

.featuredpic {
    
     border-top: 4px solid #4c9da1;   
    border-bottom: 4px solid #4c9da1;  
}

.homefeatured {
    vertical-align: top;
    display: inline-block;
    margin: 0 4%;
    width: 25%;
    text-align: center;
}

.homefeatured p {
    
 text-align: left;
 margin: 0 10px;    
}

.secondrowfeatured {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 10px 25px; 
    width: 300px;
    height: 200px;
    background: #1E3233;
    border: 1px solid white;
    
}

.secondrowfeaturedright {
    display: inline-block;
    margin: 10px 0px;
    width: 300px;
    height: 400px;
    background: #1E3233;
    border: 1px solid white;
    
}


.subcontenttransparent {
 
 max-width: 900px;
 min-width: 200px;
 margin: 25px auto 80px auto;
 background: transparent;
 color: white;    
    
}

.subcontenttransparent h2 {
 
    color: white;
    font-size: 16pt;
    margin: 15px 0;
    text-align: center;
    
    
}


.contentborder {
 vertical-align: top;
 display: inline-block;    
 width: 1px;
 height: 300px;
 border: 1px solid white;
 margin: 10px 120px;    
    
}

.subcontenttransparent p {
    
 margin: 0px 5px;   
    
}
